/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
  margin: 0;
  padding: 0;
}

/* App Container */
.app {
  display: flex;
  margin-top: 70px; 
}

/* Header Styles */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 2px solid #dddddd;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.favorite-count {
  font-size: 1.25rem;
  font-weight: bold;
}

/* .app-logo {
  width: 50px;
  height: 50px;
} */

.app-header h1 {
  font-size: 2rem;
  padding-left: 20px;
  color: #323232;
  margin: 0;
}

.app-header p {
  font-size: 1.2rem;
  color: #343a40;
  padding-right: 80px;
  margin: 0;
}

/* Favorites SideBar */
.favorites-sidebar {
  padding: 20px;
  width: 250px;
  height: calc(100vh - 80px);
  padding-top: 30px;
}

.favorites-sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 50px;
  text-align: center;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.favorite-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(50% - 10px); /* 2 cards in a row */
}

.favorite-item .pokemon-card {
  flex: 1;
  width: 100%; 
}

.remove-button {
  background-color: #EA5D60;
  color: #ffffff;
  border: none;
  font-size: 0.8rem;
  border-radius: 0 0 10px 10px;
  padding: 5px 0;
  width: 94%; 
  margin: 0; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  color: #e8e8e8;
}
.favorites-list .pokemon-card:hover {
  transform: scale(1.0);
}

.favorites-list .pokemon-card {
  
  width: 80%; 
  padding: 10px;
  border-radius: 10px 10px 0 0;
}

.favorites-list .pokemon-card img {
  width: 50px; 
  height: 50px; 
}

.favorites-list .pokemon-card h3 {
  font-size: 0.8rem; 
  margin: 5px 0 0; 
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
  padding-top: 50px;
  background-color: #e9ecef;
}

/* Pokemon List */
.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Pokemon Card */
.pokemon-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.pokemon-card:hover {
  transform: scale(1.05);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.pokemon-card h3 {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: #343a40;
}

/* Pokemon Details */
.pokemon-details {
  /* background: linear-gradient(to bottom, #FFFFFF, #e7e6e6); */
  background: #FFFFFF;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  text-align: left;
  margin: 20px 0;
}

.back-arrow {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 2px;
}

.details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-body {
  display: flex;
  align-items: flex-start;
}

.pokemon-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
}

.details-info {
  flex: 1;
  padding-top: 20px
}

.details-info p {
  margin: 10px 0;
  font-size: 1rem;
}

.details-info strong {
  font-weight: bold;
}

.catch-button {
  background-color: #EA5D60;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
  width: 100%;
  margin-top: 20px;
}

.catch-button:disabled {
  background-color: #00ff0000;
}

.catch-button:not(:disabled):hover {
  background-color: #cc5052;
  color: #e7e6e6;
}


/* Responsive Design */
@media (max-width: 768px) {
  .pokemon-list {
    flex-direction: column;
    align-items: center;
  }

  .pokemon-details {
    width: 100%;
  }

  .favorites-sidebar {
    width: 100%;
    height: auto;
    position: static;
    border-right: none;

  }
}

/* Filter Styles */
.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-container input,
.filter-container select {
  padding: 8px;
  background-color: #ffffff;
  color: #747476;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

/* Filter Styles */
.filter-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
}

.search-bar input {
  padding-left: 40px; /* Add space for the search icon */
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.filter-container select {
  padding: 8px;
  border-radius: 5px;
  font-size: 1rem;
}

/* Animation */
@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.pokeball {
  width: 40px;
  height: 40px;
  box-shadow: #323232;
  animation: shake 1s infinite;
  animation-iteration-count: 3;
}

.pokeball-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



